/* Reset một số thuộc tính mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: #333; /* Nền màu tối */
    color: white; /* Màu chữ sáng */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .dangnhap {
    background: #444; /* Nền cho form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #555;
    color: white;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #22a6b3; /* Nút màu */
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background: #0abde3; /* Màu khi hover */
  }
  
  a {
    color: #0abde3;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Thiết lập các thuộc tính cho mắt */
  #eye {
    position: relative;
  }
  
  #eye i {
    position: absolute;
    top: -30%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

  
  /* Tiêu đề */
  h1 {
    color: #0abde3; /* Màu tiêu đề */
    margin-bottom: 1rem;
  }
  