body {
  background-color: #f0f0f0; /* Chọn màu xám tuỳ ý */
  margin: 0; /* Xóa margin mặc định của body */
  padding: 0; /* Xóa padding mặc định của body */
}
.box {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  width: 50%; /* Giảm chiều rộng để cách lề bên trái và phải */
  height: 2000px;
  margin-top: 50px;
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
}


.box h1{
  text-align: center;
}
.ready {
    font-size: 60px;
    text-align: center;
    padding: 10px;
    
}
.anh_bia{
  padding-left: 200px;
  padding-right: 300px;

}
li img{
  border: 50px;
width: 50px;
height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: chocolate;
    
  }
  
  li {
    float:left  ;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;

  }
  
  li a:hover:not(.active) {
    background-color: #a1801d;
  }
  
/* CSS cho hình ảnh và nút ấn */
.image-container {
    display: inline-block;
    position: relative;
}

.image-container img {
    max-width: 100%;
    width: 1000px; 
    height: auto; 
    margin-left: auto;
     margin-right: auto;
}

.overlay-button {
    position: absolute;

    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: #e4131d;
    color: #0c0808;
    padding: 20px 40px;
    width: 200px;
    height: 40px;
    border: 40px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; 
    text-decoration: none; 
}
.text-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color:white;
    z-index: 2;
    padding-left: 30px;
   
}

.text-overlay h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
}
